* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: #000;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

/* ===== end-clear-styles ===== */

@media (max-width: 767px) {
    #header {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 625px) {
    #mainList {
        display: flex;
        flex-wrap: wrap;
    }
}

#header {
    padding: 20px;
    display: flex;
    gap: 15px;
    position: relative;
    z-index: 1;
    align-items: center;
}

#main {
    max-width: 1920px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

#headerLogo {
    width: 40px;
    object-fit: cover;
    fill: #e60023;
}

#headerTitleLink {
    color: #e60023;
}

#headerTitle {
    align-self: center;
    font-size: 22px;
}

#inputWrap {
    display: flex;
    flex-grow: 1;
    height: 40px;
    position: relative;
    align-items: center;
}

#headerInput {
    border-radius: 30px;
    border-width: 1px;
    border-color: #cc0000;
    padding: 5px 15px 5px 45px;
    width: 100%;
    height: 100%;
}

#headerInput:hover,:focus {
    border-width: 2px;
    border-color: #cc0000;
    outline: none;
}

#headerBtnSearch {
    background: none;
    border: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 5px;
}

#headerBtnSearch:hover {
    cursor: pointer;
}

#headerSearchIcon {
    object-fit: cover;
    fill: rgba(230, 0, 35, 0.8);
    height: 30px;
    width: 30px;
    border-right: 1px rgba(230, 0, 35, 0.4) solid;
}

#headerBtn {
    display: flex;
    justify-content: center;
    max-width: 150px;
    width: 100%;
    flex-direction: column;
    position: relative;
}

#headerBtnBoards {
    height: 40px;
    border-radius: 30px;
    border-width: 1px;
    border-color: #cc0000;
    background: none;
    text-transform: uppercase;
}

#headerBtnBoards:hover {
    border-width: 2px;
    cursor: pointer;
}

#headerBoards {
    width: 100%;
    display: none;
    border: 1px solid #cc0000;
    border-radius: 10px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    top: 40px;
    left: 0;
}

#headerBoardDescr {
    text-align: center;
    padding: 10px 0;
}

#headerBoardDescr:hover {
    cursor: pointer;
    font-weight: bold;
}

#headerBoard:nth-child(1):hover {
    border-bottom: 1px solid #cc0000;
}

#headerBoard:nth-child(2):hover {
    border-top: 1px solid #cc0000;
    border-bottom: 1px solid #cc0000;
}

#headerBoard:nth-child(3):hover {
    border-top: 1px solid #cc0000;
}

#mainList {
    column-count: 5;
    column-gap: 15px;
}

.mainListItem {
    -webkit-column-break-inside: avoid;
    margin-bottom: 15px;
}

#mainImgWrap::before {
    content: "";
    display: block;
    padding-top: 75%;
}

#mainImgWrap {
    position: relative;
}

#mainImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

#mainImg:hover {
    cursor: pointer;
}

#submenu {
    /* display: flex; */
    display: none;
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    gap: 2px;
}

#mainInfo {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#mainTag {
    font-size: 12px;
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 20px;
    padding: 5px 10px;
    width: fit-content;
}

#mainUserInfo {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5px;
    align-items: center;
}

#mainName {
    font-weight: bold;
    font-size: 14px;
}

#mainAvaWrap::before {
    content: "";
    display: block;
    padding-top: 100%;
}

#mainAvaWrap {
    position: relative;
    width: 32px;
    height: 32px;
}

#mainAva {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#mainDescr {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

#footer {
    padding: 20px;
}

#copyright {
    text-align: center;
    font-size: 16px;
}

#overlay {
    /* display: flex; */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 999;
}

#modalWindow {
    width: 320px;
    height: 450px;
    background-color: #fff;
    border-radius: 20px;
    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#modalReportBtnWrap {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#submenuBtnBoard,
#submenuBtnReport {
    padding: 4px 0;
    width: 50%;
    border-radius: 5px;
    font-size: 10px;
}

#modalReportBtnSend,
#modalReportBtnClose,
#modalBoardBtnClose {
    padding: 5px 0;
    border-radius: 5px;
}

#modalReportListItemDescr,
.modalBoardDescr {
    padding: 10px 0;
    display: inline-block;
}

#modalReportListItemDescr:hover,
.modalBoardDescr:hover,
#modalReportCheckbox {
    cursor: pointer;
    font-weight: bold;
}

#modalReportBtnClose:hover,
#modalReportBtnSend:hover,
#modalBoardBtnClose:hover,
#submenuBtnBoard:hover,
#submenuBtnReport:hover {
    cursor: pointer;
    font-weight: bold;
}

#modalReportList,
#modalBoardsList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#modalBoardTitle,
#modalReportTitle {
    text-align: center;
}